hr/Data
hr/LightGCN.py
rs/detect_YOLOv5s/images/
rs/detect_YOLOv5s/images/0a2ef8fca9784159bb3bb05056f26518.jpg

*.pyc
rs/get10k_data/output_10k_sample/images_10k/
rs/get10k_data/output_10k_sample/images_2223_main/
*.zip
/rs/get10k_data/output_10k_sample/embeddings_10k
/rs/get10k_data/output_10k_sample/embeddings_clip_10k
/rs/get10k_data/output_10k_sample/images_2223_main

# /rs/get10k_data/output_10k_sample

# rs/get10k_data/clip_10k_sample

.venv/


report/v2/weights

rs/lightgcn_pyg/weights
rs/lightgcn_pyg/tensorboard
rs/lightgcn_pyg/wandb